.ui.input > input {
  background: var(--lighttertiary) !important;
  color: var(--darkprimary) !important;
  border-radius: 0 !important;
}

.ui.input {
  border: 1px solid var(--lightborder) !important;
}

.ui.input i {
  color: var(--darksecondary);
}

.ui.toggle.checkbox label,
.ui.toggle.checked.checkbox label,
.ui.checkbox input:checked ~ label {
  color: var(--darksecondary) !important;

  &::before {
    background: lightgrey !important;
  }
}

fieldset > button:last-child {
  margin-right: 0 !important;
}

fieldset .ui.toggle.checkbox input:focus:checked ~ label,
fieldset .ui.toggle.checkbox input:checked ~ label {
  color: var(--darksecondary) !important;

  &::before {
    background: var(--highlight) !important;
  }
}

.ui.selection.dropdown {
  background: var(--lighttertiary) !important;
  color: var(--darkprimary) !important;
  border-radius: 0 !important;
  width: 100% !important;
}

.ui.dropdown .menu {
  background: var(--lightsecondary) !important;
}

.ui.selection.dropdown .menu > .item {
  color: var(--darkprimary) !important;
  border-top: 1px solid var(--lightborder) !important;
}

.ui.selection.dropdown .menu > .message {
  color: var(--darkprimary) !important;
}

.ui.selection.dropdown .divider.text {
  color: var(--darkprimary) !important;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 160px !important;
}

input,
button {
  width: 100%;
  cursor: pointer !important;
  box-sizing: border-box; /* add this */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.ui.indicating.progress .bar {
  background-color: green !important;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .form__actions {
    flex-direction: column-reverse;
  }

  .form__actions button {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
